head {
    font-family: ui-serif;
    }
body {
    font-family: system-ui;
    text-align: center;
    height: 100%;
    }
h1 {
    color: rgb(88, 49, 12);
    }
h4 {
    color: rgb(88, 49, 12);
    font-style:oblique;
    }
p {
    color: rgb(0, 0, 0);
    }

#closeSession {
    margin: 10px;
}

.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to bottom, rgba(236, 238, 219, 0.959), rgb(18, 19, 20));
    background: linear-gradient(to bottom, rgba(236, 238, 219, 0.959), rgb(18, 19, 20));
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.link { color: #9e7b4d; }
.link:hover { color: #62f7ed; 
    }
.link2 { color: #9e7b4d; } 
.link2:hover { color: #62f7ed; 
    }




