{% extends 'base/base.html' %}

{% block title %} Home SuperAdministrador {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-2"></div> 
        <div class="col-2"></div>
        <div class="col-4"><img src="\static\images\gevora.png" alt="Gevora hotel" width="150"></div>
        <div class="col-2"></div>
        <div class="col-2 text-end"><a href="{{ url_for('log_out') }}" class="btn btn-dark" style="margin: 10px;"> Cerrar sesión </a></div>
    </div> 
</div> 
<br>
<h4 id="change2">Hola {{ name }}, a continuación se muestran las opciones que tienes: </h4>
<br>
<div class="container-fluid row align-items-center" id="change">
    <div><h1>Administrar</h1></div><br><br><br><br><br>
        <div class="col-6 text-end"><form action="/controlu"><button type="submit">Total control de usuarios</button></form></div>
        <div class="col-6 text-start"><form action="/controlh"><button type="submit">Total control de habitaciones</button></form></div>
    </div>
</div>
<div class="container-fluid row align-items-center" id="change">
    <div><h2>Descarga de información</h2></div><br><br><br><br><br>
        <div class="col-6 text-end"><form action="/download/users"><button type="submit">Lista de usuarios</button></form></div>
        <div class="col-6 text-start"><form action="/download/logo"><button type="submit">Logo de Gevora</button></form></div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>
<script src="{{ url_for('static', filename='js/homeu.js') }}"></script>  
{% endblock %}